*{
    margin: 0;
    margin-right: 0px;
    padding: 0;
    /*background-color: rgb(72, 163, 49);*/
}
.top {
    overflow:hidden;
    border-radius:0ex;
    height: 150px;
    width: 1600px;
  }
  
  .top a {
    margin-right: 0px;
    margin: 20;
    float: right;
    color: #faf9f9;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /*.top a:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(9, 139, 59);
  }*/
  
  .top a.split {
    float: left;
    margin: 0;
    font-size: 40px ;
    margin-left: 10px ;
    list-style: none ;
    font-family:monospace;

  }


.pattern {
    position:relative;
    background-color: #10a75b;
    background-image: linear-gradient(315deg, #0ac419 20%, #0c9758 80%);
    width: 100%;
    min-height: 600px;
}
  
.pattern:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url(src/images/wave3.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.intro{
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 500px;
    display :flex;
    text-align: center;
    justify-content: center;
    font-family:monospace;
    color: white;
    font-size:28px;
}
.intromenu{
    margin-top: 100px;
    display :flex;
    text-align: center;
    justify-content: center;
    font-family:monospace;
    color: rgb(1, 107, 63);
    font-size:25px;
}
.moroccan {
    margin: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(51, 42, 42, 0.5), rgba(53, 42, 42, 0.5)),url("src/images/foodmaroc.jpg");
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:90%;
    position: relative;
  }
a{
  color: white;
  text-underline-offset: none;
}

  
  .menulist button {
    /*float:center ;*/
    color: #faf6f6;
    font-family:monospace;
    text-decoration: none;
    font-size: 50px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(7, 124, 52);
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    
  }
  .asian {
    margin: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(51, 42, 42, 0.5), rgba(53, 42, 42, 0.5)),url("src/images/Asian.jpg");
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:90%;
    position: relative;
  }
  .FastFood {
    margin: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(51, 42, 42, 0.5), rgba(53, 42, 42, 0.5)),url("src/images/fastfood.jpg");
    height: 35%;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
  }
  /*.iframe {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: rgb(103, 230, 124);
  }*/
  .some {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:stretch;
    margin: 80;
    font-size: 18px ;
    margin-left: 70px ;
    list-style: none ;
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color :rgb(19, 15, 15) ;

}
.res{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size:20px;
  height: 50px;
  border-radius:30px;
  width: 300px;
  background-color: #f3eded;

}
/*.resright {
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:stretch;
  }*/
.reser{
  font-size: 50px;
}
.contactus{
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  font-size: 30px;
  height: 300px;
}